---
published: true
---
<!DOCTYPE html>
<html lang="en-US" data-bs-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | PodQueue Blog</title>
    {% if page.external_url %}<meta http-equiv="refresh" content="0; {{ page.external_url }}" />{% endif %}
<meta name="description" content="The Missing &quot;Listen Later&quot; for Audio on the Web.">
<meta name="keywords" content="podqueue, pod queue, listen later, podcasts, instapaper for podcasts, pocket for podcasts, instapaper for audio, pocket for audio, sideload, side load, let me add that to my playlist, podcast listen later, podcast bookmark, podq, podcue, pod cue, pod q,">
<link rel="image_src" href="https://assets.podqueue.fm/podqueue.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ page.title }} | PodQueue Blog">
<meta name="twitter:description" content="The Missing &quot;Listen Later&quot; for Audio on the Web.">
<meta name="twitter:site" content="@podqueue">
<meta name="twitter:image" content="https://assets.podqueue.fm/podqueue.png">
<meta property="og:title" content="{{ page.title }} | PodQueue Blog">
<meta property="og:description" content="The Missing &quot;Listen Later&quot; for Audio on the Web.">
<meta property="og:site_name" content="PodQueue Blog">
<meta property="og:type" content="link">
<meta property="og:image" content="https://assets.podqueue.fm/podqueue.png">
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csp-nonce" />
    <link rel="stylesheet" crossorigin="anonymous" href="https://assets.podqueue.fm/assets/application-493a31609c04e10cd36540667018e5d05e42a6af.css" data-turbo-track="reload" media="screen" />
    <link rel="stylesheet" crossorigin="anonymous" href="https://assets.podqueue.fm/assets/fontawesome-70827644d3bf176f574b56f8075c83c187ab67c4.css" data-turbo-track="reload" media="screen" />
    <script src="https://assets.podqueue.fm/assets/application-d91723cebfe79bba75b59213a34cb38d639d60f4.js" crossorigin="anonymous" data-turbo-track="reload" media="all" defer="defer"></script>
    <script src="https://assets.podqueue.fm/assets/fontawesome-9285065adb1df91c9bbfd3724b31084d2fab7d07.js" crossorigin="anonymous" data-turbo-track="reload" media="all" defer="defer"></script>
    <link rel="stylesheet" crossorigin="anonymous" href="/assets/css/rougify.css" data-turbo-track="reload" />
    <meta name="format-detection" content="telephone=no">
    
  </head>
  <body data-turbo="false">
    <nav class="navbar navbar-expand fixed-top border-bottom box-shadow" role="navigation">
  <div class="container-fluid">
    <div class="navbar-brand me-auto ms-3 ms-lg-0" role="heading" aria-level="1">
      <a href="/" id="logo" class="navbar-link" data-turbo="false">
        <picture>
          <source srcset="https://assets.podqueue.fm/assets/podqueue-4518dbc1cb91be6986c4696158685834a03ae11d.svg" type="image/svg+xml">
        <img src="https://assets.podqueue.fm/assets/podqueue-20-20-a97cd4cf66cd0dbc1ff30f382aa4a53b628a298c.png" alt="PodQueue Logo" class="img-fluid" width="20" height="20">
      </picture>
      <span>PodQueue Blog</span>
    </a>
  </div>
    <div  id="navigation-links">
  <ul class="navbar-nav mt-2 mt-lg-0">
        <li class="nav-item me-2"><a class="nav-link p-2" id="sign-up" href="https://podqueue.fm/users/sign_up">Sign Up</a></li>
        <li class="nav-item"><a href="https://podqueue.fm/users/sign_in" class="btn btn-outline-primary"><i class="fas fa-sign-in-alt"></i> Log In</a></li>
  </ul>
</div>

</div>
</nav>

    <main class="container-fluid" role="main">
    
    <noscript>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Your browser does not support JavaScript or does not have JavaScript support enabled.</strong>
    Many site functions will not work as expected. Please use a browser with JavaScript support enabled.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</noscript>

    
    <turbo-frame aria-live="polite" id="flash">
</turbo-frame>    {% include intro.html %}
{{ content }}

  </main>
    <footer class="footer navbar-default pt-4 mb-5" role="contentinfo">
    <div class="container-fluid">
      <hr>
      <div class="row">
        <div class="col-4 text-start">
          <ul class="navbar-nav">
            <li class="nav-item"><a href="https://podqueue.fm/pages/help">Help</a></li>
            <li class="nav-item"><a href="https://status.podqueue.fm/" target="_blank">Status</a></li>
            <li class="nav-item"><a href="https://blog.podqueue.fm/" target="_blank">Blog</a></li>
            <li class="nav-item"><a href="https://podqueue.creator-spring.com/" target="_blank">Merch</a></li>
            <li class="nav-item"><a href="https://podqueue.fm/pages/pricing">Pricing</a></li>
          </ul>
        </div>
        <div class="col-8 text-end">
          <p class="text-muted"><small>Made with <i class="fas fa-heart" aria-hidden="true"></i><span class="visually-hidden">love</span> in <a href="https://www.discoverdurham.com/" target="_blank" class="text-muted">Durham, NC, USA</a></small></p>
          <ul class="navbar-nav mt-4">
            <li class="nav-item"><a href="https://podqueue.fm/pages/privacy">Privacy</a></li>
            <li class="nav-item"><a href="https://podqueue.fm/pages/terms">Terms</a></li>
            <li class="nav-item"><a href="https://podqueue.fm/changelog">Changelog</a></li>
            <li class="nav-item"><a href="https://podqueue.fm/pages/help/podcasters">Podcaster Info</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
